ul {
    padding:30px;
    margin:0px;
    list-style-type:none;
    }
    .container {
        text-align: center;
    }
   li {
    margin-top: -25px;
    float:left; 
    border-left:1px solid rgb(214, 213, 218);
    }
   ul li a {
      
    display:block;
    float:left;   
    width:100px;
    line-height:50px; 
    background:rgb(34, 33, 33);
    color:#DCDCDC;
    text-decoration:none;
    text-align:center;
    height: 3rem;
    }
   ul li a:hover {
    background:white;
    color:rgb(34, 33, 33);
    border: none;
    }  
#logo {
  margin-top: -25px;
  float: right;
  width: 3rem;
  height: 3rem;
}
  .nav-bar {
      width: 100%;
      background-color: rgb(34, 33, 33) ;
  }
  #home-top {
    margin-left: -31px;

  }
  .welcome {
    margin: auto;
    margin-top: 3.5rem;
    font-size: 4rem;
    color: rgb(34, 33, 33);
  }

  .good-food {
      color: rgb(255, 186, 58);
  }
 .collection {
   width: 400px;
  
 }
 .collection img {
   width: 400px;
   
 }
 #food0 
 {
   margin-left: 500px;
   
 }
 #food1 
 {
   margin-left: 500px;
   
 }
 #food2
 {
   margin-left: 500px;
   
 }
 #food3
 {
   margin-left: 500px;
   
 }
 #food4
 {
  margin-left: 500px;
 
 }
 #food5
 {
   margin-left: 500px;
   
 }
 #food6 
 {
   margin-left: 500px;

 }
 #food7 
 {
   margin-left: 500px;
   
 }
 #food8 
 {
   margin-left: 500px;
   
 }

.buttonn
{
 
    background-color: #0d0e0d;
    border-radius: 50%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 1020px;
   
}
.inputt
{
  width: 200px;
  margin-left: 1000px;

}

h1
{
margin-left: 900px;
margin-top: 100px;
}

